/*
	======================================================================
		MAIN PAGE
		NAJA7HOST
		DARK BLUE STYLE
	======================================================================
*/
body { background: #4477CC; }
a {color : #000080;}
a:hover {color:#4477CC;}