/*
	======================================================================
		MAIN PAGE
		NAJA7HOST
		GREEN STYLE
	======================================================================
*/

body { background: #359E1B; }
a {}
a:hover , a:focus {color:#5D8054;}

/*** Header ***/
.nav-first-w {}
.nav-last-w {}
.module-posts-1 li .title a ,  .module-posts-2 li .title a  , .module-posts-3 li .title a {color: #000;}

/* Navigation Links*/
.nav-last {}
.nav-last > .nav > li:first-child {background: none repeat scroll 0 0 #7BA83F;}
.nav-last > .nav > li:hover, .nav-last > .nav li.sfHover, .nav-last > .nav a:focus, .nav-last > .nav a:hover, .nav-last > .nav a:active {background: #7BA83F;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {color: #FFF;background-color: #7BA83F;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {background-image: linear-gradient(to bottom, #7BA83F 0px, #7BA83F 100%);}

/*** main Page ***/
.mudule-tile-search {background: url("../../images/title_bg.png") no-repeat right #7BA83F ;}
.mudule-tile-search1 span  {background: url("../../images/title_cat.png") no-repeat left #7BA83F ;border-bottom: 3px solid  #7BA83F;}
.mudule-tile-search2 {background: url('../../images/bg.png') #7BA83F;border-bottom: 1px solid #e1e1e1;}

.module-more-post a:hover {color: #7BA83F;}
.mudule-tile-search2 :hover{background:#7BA83F;}

/*** Ajil News ***/
.ajil {/*background-color: #FF4C4C;border-top:2px solid #fff;*/}

/*** Box Tables ***/ 
.title_box {background: #7BA83F;}
.sidebar-content {border-left: 3px solid #7BA83F;border-right: 3px solid #7BA83F;border-bottom: 3px solid #7BA83F;}
.news24 li.active-live:hover {background: #FFBFBF;}
.module-border-2 {border-top: 0px solid #7BA83F;} 
.module-category-color-2 {color: #7BA83F;}
.sidebar-wrapper h2, .sidebar-wrapper h3, .sidebar-wrapper h2 a, .sidebar-wrapper h3 a {color: #7BA83F;}
.label-info {background-color: #7BA83F;}

.colleft a{color: #7BA83F;}
li .thumbnail:hover {background:#7BA83F;}
.news-cat li:hover{background:#FFBFBF;}
.module-more-post{background:#DDDDDD;}
.module-more-post:hover{background:#FF9999;}

#featured , #feature_outer, .arena {border: 4px solid #7BA83F;}


.menu-pages li:hover {background: #000;}

/*.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #4477cc;}*/

/*** News Page ***/
.title-news {color: ##FFFFFF;background-color: #FF4C4C;border-color: #A1BDD1;}

/*** Footer ***/ 
.footer a{}
.news-extended-category-link:hover, .news-extended-overview-link:hover , .news-extended-older  a:hover , .news-extended-newer a:hover , .news-back-overview:hover{background-color: #FF4C4C;color:#fff}
.footerlinks h4{border-bottom: 2px solid #FF4C4C ;}

/*** left-side admin ***/
.notification {background-color: #FA603D;background-image: -moz-linear-gradient(center top , #FB9C87, #FA5F3D);border-color: #FA5833;}
#ta-Settings span {background: url("../../images/icons-blue32.png") transparent;background-position: 0px -192px;}
#ta-comments span {background: url("../../images/icons-blue32.png") transparent;background-position: -223px -256px;}
#ta-Settings span:hover {background: url("../../images/icons-darkgray32.png") transparent;background-position: 0px -192px;}
#ta-comments span:hover {background: url("../../images/icons-darkgray32.png") transparent;background-position: -223px -256px;}

/*** Buttons ***/
.button , .btn-send {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #008C00, #7BA83F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008C00), to(#7BA83F));
  background-image: -webkit-linear-gradient(top, #008C00, #7BA83F);
  background-image: -o-linear-gradient(top, #008C00, #7BA83F);
  background-image: linear-gradient(to bottom, #008C00, #7BA83F);
  background-repeat: repeat-x;
  border-color:  #008C00  #008C00  #7BA83F;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBFBF', endColorstr='#7BA83F', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-send:hover,.btn-send:focus,.btn-send:active,.btn-send.active,.btn-send.disabled,.btn-send[disabled] {color: #ffffff;background-color: #7BA83F;*background-color: #499249;}
