/*
	======================================================================
		MAIN PAGE
		NAJA7HOST
		GREEN STYLE
	======================================================================
*/

body { background: #359E1B; }
a {color : #76A934;}
a:hover , a:focus {color:#5D8054;}