.button-save{float: left;}

.pull-right{float:left!important}
.pull-left{float:right!important}

/*.navbar .btn-group {float: left;}*/
/*
.menu-min .nav-list > li > a > span {right: 41px;left: auto;padding-right: 12px;padding-left: auto;}
.nav-list > li > a {padding: 0 7px 0 16px;}
.menu-min .nav-list > li.active > a > span {border-right-color: #1963AA;border-left-color: transparent;}

.nav-list > li.active > a:after {border-color:   transparent transparent  transparent #0B6CBC;left: 0;right: auto;}
.nav-list > li > a .arrow {right: auto;left: 9px;}

.nav-list > li .submenu > li:before {left: auto;right: 21px;}
.nav-list > li .submenu > li:after {border-left: 0;border-right: 1px dashed #B1C9E0;left: auto;right: 18px;}
.nav-list > li .submenu > li a > [class*="icon-"]:first-child {right: 8px;left: auto;}
.nav-list > li .submenu > li > a {padding: 7px 37px 8px 0;}
.menu-min .nav-list > li > ul.submenu {right: 41px;left: auto;}

.menu-min .nav-list>li.active>ul.submenu{border-right-color:#1963aa;border-left-color: transparent;}
.widget-header > *:first-child {float: right;text-align: right;}

.prettyprint.linenums {text-align: left;}

.widget-toolbar:before {right: -1px;}
.widget-toolbar {float: left;}

*/